---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: volumes
  namespace: flux-system
spec:
  interval: 1m0s
  dependsOn:
    - name: infrastructure
  path: ./volumes/isp
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
