apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring
resources:
- helmrepository.yaml
- release.yaml
- pv-pvc.yaml
- create-prometheus-dir-job.yaml
- thanos-deployment.yaml
configMapGenerator:
- name: flux-kube-state-metrics-config
  files:
  - kube-state-metrics-config.yaml
  options:
    labels:
      app.kubernetes.io/part-of: flux
      app.kubernetes.io/component: monitoring

- name: thanos-datasource
  files:
  - thanos-datasource.yaml
  options:
    labels:
      grafana_datasource: "1"

secretGenerator:
- name: thanos-objstore
  files:
  - objstore.yml
  type: Opaque
  options:
    disableNameSuffixHash: true # because the helm chart (sidecar) references it directly by name and expects it to be stable.

configurations:
- kustomizeconfig.yaml
