apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: monitoring
spec:
  releaseName: kube-prometheus-stack
  chart:
    spec:
      chart: kube-prometheus-stack
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
      version: '82.2.0'
  interval: 30m
  install:
    remediation:
      retries: 3
      # timeout: 5m
  upgrade:
    crds: CreateReplace
    force: true
  valuesFrom:
  - kind: ConfigMap
    name: flux-kube-state-metrics-config
    valuesKey: kube-state-metrics-config.yaml
  values:
    defaultRules:
      rules:
        kubeScheduler: false
    kubeApiServer:
      enabled: false

    grafana:
      enabled: true
      adminUser: admin
      adminPassword: prom-operator
      sidecar:
        dashboards:
          searchNamespace: ALL
          env:
            SKIP_TLS_VERIFY: "true"
        datasources:
          enabled: true
          defaultDashboardsEnabled: true
          isDefaultDatasource: false
          env:
            SKIP_TLS_VERIFY: "true"
      persistence:
        type: pvc
        enabled: true
        existingClaim: openebs-local-hostpath-monitoring-conf-pvc-grafana
      # initChownData workaround for "chown: Permission denied" on upgrades
      initChownData:
        enabled: true
        securityContext:
          readOnlyRootFilesystem: false
          runAsNonRoot: false
          runAsUser: 0
          allowPrivilegeEscalation: true
          capabilities:
            add:
            - CHOWN
            - DAC_OVERRIDE
            - FOWNER
      ingress:
        enabled: true
        ingressClassName: nginx
        annotations:
          nginx.ingress.kubernetes.io/configuration-snippet: |
            more_clear_headers "X-Frame-Options";
          cert-manager.io/cluster-issuer: letsencrypt-staging
          gethomepage.dev/description: Grafana Dashboards
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: More Apps
          gethomepage.dev/icon: grafana.svg
          gethomepage.dev/name: Grafana
          gethomepage.dev/pod-selector: ""
        labels: {}
        hosts:
        - 'grafana.example.com'
        path: /
        pathType: Prefix
        tls:
        - hosts:
          - 'grafana.example.com'
          secretName: grafana-tls

    prometheus:
      enabled: true
      prometheusSpec:
        securityContext:
          runAsUser: 1000
          runAsGroup: 2000
          fsGroup: 2000
        thanos:
          objectStorageConfig:
            existingSecret:
              name: thanos-objstore
              key: objstore.yml
        enableAdminAPI: true
        # podMonitorNamespaceSelector: {}
        # podMonitorSelector:
        #   matchLabels:
        #     app.kubernetes.io/component: monitoring
        retention: 30d
        storageSpec:
          volumeClaimTemplate:
            metadata:
              name: openebs-local-hostpath-monitoring-data-pvc-prometheus
              labels:
                app: prometheus
            spec:
              storageClassName: openebs-local-hostpath-monitoring-data-sc
              accessModes:
              - ReadWriteOnce
              resources:
                requests:
                  storage: 50Gi
              volumeName: prometheus-pv
              selector:
                matchLabels:
                  app: prometheus
      ingress:
        enabled: true
        ingressClassName: nginx
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-staging
          nginx.ingress.kubernetes.io/configuration-snippet: |
            more_clear_headers "X-Frame-Options";
          gethomepage.dev/description: Prometheus Database
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: More Apps
          gethomepage.dev/icon: prometheus.svg
          gethomepage.dev/name: Prometheus
          gethomepage.dev/pod-selector: ""
        labels: {}
        hosts:
        - 'prometheus.example.com'
        path: /
        pathType: Prefix
        tls:
        - hosts:
          - 'prometheus.example.com'
          secretName: prometheus-tls
