- op: replace
  path: /spec/values/grafana/enabled
  value: false
- op: replace
  path: /spec/values/prometheus/prometheusSpec/retention
  value: 3d
- op: replace
  path: /spec/values/prometheus/ingress/hosts/0
  value: prometheus.deskcube.int.sambaum.ch
- op: replace
  path: /spec/values/prometheus/ingress/tls/0/hosts/0
  value: prometheus.deskcube.int.sambaum.ch
- op: replace
  path: /spec/values/prometheus/ingress/annotations/cert-manager.io~1cluster-issuer
  value: letsencrypt-production
- op: add
  path: /spec/values/prometheus/prometheusSpec/additionalScrapeConfigs
  value:
  - job_name: 'version-checker'
    scrape_interval: 30s
    metrics_path: '/metrics'
    scheme: http
    static_configs:
    - targets: [ 'version-checker:8080' ]
      labels:
        group: 'version-checker'
